{% extends 'base.html' %}

{% block title %} Welcome to the home page {% endblock %}

<h2>Predict Your Salary Using AI</h2>

<main>
    <form>
        # Survey: [Insert Title Here]

        ## Introduction:
        
        Thank you for taking the time to participate in our survey. Your feedback is valuable to us and will help us improve our products/services. Please answer the following questions honestly and to the best of your ability.
        
        ## Demographic Information:
        
        - **Age:** [Dropdown menu with options: 18-21, 22-24, 25-29, 30-34, 35-39, 40-44, 45-49, 50-54, 55-59, 60-69, 70+]
        - **Gender:** [Dropdown menu with options: Man, Nonbinary, Prefer not to say, Prefer to self-describe, Woman]
        - **Country:** [Dropdown menu with options: Algeria, Argentina, Australia, Bangladesh, Belgium, Brazil, Cameroon, Canada, Chile, China, Colombia, Czech Republic, Ecuador, Egypt, Ethiopia, France, Germany, Ghana, Hong Kong (S.A.R.), I do not wish to disclose my location, India, Indonesia, Iran, Islamic Republic of..., Ireland, Israel, Italy, Japan, Kenya, Malaysia, Mexico, Morocco, Nepal, Netherlands, Nigeria, Other, Pakistan, Peru, Philippines, Poland, Portugal, Romania, Russia, Saudi Arabia, Singapore, South Africa, South Korea, Spain, Sri Lanka, Taiwan, Thailand, Tunisia, Turkey, Ukraine, United Arab Emirates, United Kingdom of Great Britain and Northern Ireland, United States of America, Viet Nam, Zimbabwe]
              
</main>

{% block body %} Hello world! {% endblock %}

